{% extends 'base.html' %}
{% block content %}
<p>Login Page</p>
<form method="POST">
    {% csrf_token %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    <div class="mb-3">
        <label for='username' class="form-label">User Name</label>
        <input type='text' class = "form-control" placeholder='User name' id="username" name="username">
    </div>
    <div class="mb-3">
        <label for='pswd' class="form-label">Password</label>
        <input type='password' class="form-control" placeholder='Password' id="pswd" name="password">
    </div>
    <input type='submit' value="Login">
</form>
{% endblock content %}
        